
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.Partial("Roles");
    </div>
Add user: <input type="button" value="Create user" onclick=" location.href = '@Url.Action("Register", "Account")' "/>
    @Html.ActionLink("Add classroom", "AddClassroom")
</body>
</html>
